{{# if user}}
    <script src="//cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
    <div class="card my-4">
        <h5 class="card-header" align="center">{{user.firstname}} how's you feeling today</h5>
        <div class="card-body">
            <form action="/post/add" method="post">
                <div class="form-group">
                    <textarea name="title" class="form-control" rows="1"
                    placeholder="TITLE"></textarea>
                </div>
                <div class="form-group">
                    <textarea name="content" class="form-control" rows="3"
                    placeholder="CONTENT"></textarea>
                </div>
                <div>
                    <input align="center" name="photo" placeholder="Photo URL (optional)" style="width:200px; margin: 0 10px 0 0">
                    <input align="center" name="subject" placeholder="Subject" style="width:200px;">
                <button type="submit" class="btn btn-primary"
                        style="height: 30px; float: right; font-size: 12px">Post</button></div>
            </form>
        </div>
    </div>
    <script>
        CKEDITOR.config.height = 300
        CKEDITOR.replace( 'content' );

    </script>
{{/if}}
