<div id="post-box" class="container"></div>

<script>
function fechproduct(cb) {
    $.get("http://localhost:3000/post/getpost" , function (data) {
        cb(data)
    })
}

function template(posts) {
    return `<div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">${posts.title}</h2>
              <p class="card-text">${posts.content}</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on ${posts.date} by
              <a href="#">${posts.user.firstname}</a>
            </div>
          </div>
    `
}
$(function () {
    let box = $('#post-box')
    fechproduct(function (posts) {
        box.empty()
        for (post of posts){
            box.append(template(post))
        }
    })
})
</script>